html,
body {
  margin: 0;
  height: 100%;
  overflow:hidden;
}
/*fills screen with streetview*/
#pano {
  position: fixed;
  inset: 0;
  height: 100%;
}
/*mini map container*/
#mini-container {
  transition-delay: 200ms, 200ms;
  transition-property: width, height;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 200px;
  z-index: 1000;
  /*background-color:rgba(0,0,0,0.2);*/
  transition: all 0.3s ease;
  opacity: 0.3;
}
#mini {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
/*hover effects on mini map*/
#mini-container.enlarged {
    transition-delay: all 0.3s ease;
    width: 40%;
    height: 50%;
    opacity: 1;
}
/*fills screen with result*/
#resultMap {
  position: fixed;
  inset: 0;
  z-index: 1001;
}
nav { display:none; }
/*submit button on the mini map*/
#guessBtn{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  margin: auto;
  width: 140px;
  z-index: 1001;
}
/*next button on round result page*/
.next-btn{
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 120px;
  z-index: 1102;
}

#timer{
  position:fixed;
  top:10px;
  right:10px;
  width:150px;
  height:75px;
  background:#0009;
  color:#fff;
  padding:.2rem .7rem;
  z-index:1101;
  font-size: 50px;
  text-align: center
}

/*floating cog*/
#settingsMenu{
  position:fixed;
  bottom:20px;
  left:20px;
  z-index:1102;
}
/*cog icon*/
#cog{
  font-size:32px;
  cursor:pointer;
}
#leaveBtn{
  display:none;
  margin-top:4px;
  padding:.4rem .8rem;
  border:none;
  border-radius:6px;
  background:#c0392b;
  color:#fff;
}
#settingsMenu:hover #leaveBtn{
  display:block;
}

/*status bar*/
#statusBar{
  position:fixed;
  top:20px;
  left:20px;
  display:flex;
  padding:4px 8px;
  background:#2c2670;
  color:#fff;
  border-radius:4px;
  z-index:1101;
}
#statusBar .label{
  font-size:.7rem;
  opacity:.7;
  margin-right:4px;
}
#statusBar .value{
  font-weight:700;
  margin-right:12px
}

/*stats per round*/
#roundStats{
  background: #fff;
  padding: .3rem .7rem;
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1102;
  border-radius: 6px;
}

