<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AUTH</title>
</head>
<body>
    {% with msgs = get_flashed_messages() %}
        {% if msgs %}<p style="color:red">{{ msgs[0] }}</p>{% endif %}
    {% endwith %}
    <form method="post">
        <label>Username <input name="username" required></label><br>
        <label>Password <input type="password" name="password" required></label><br><br>
    
        <button type="submit" name="login">Log in</button>
        <button type="submit" name="register">Register</button>
    </form>
</body>
<html>

