<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geoguessr</title>
</head>
<body>
  <nav class="navbar">

  </nav>
  <h2>HELLO {{ username }}!</h2>
  <img src="{{url_for('static', filename=img) }}" alt="my img">
  <form method="POST">
    <input type="text" id="lat", name="lat" required>
    <input type="text" id="long", name="long" required>
    <button type="submit">Submit</button>
  </form>
  
  <p><a href="{{ url_for('logout') }}">Log out</a></p>
  <div class="intro-paragraph">
    Welcome to Geoguessr remastered!
  </div>

</body>
</html>
