<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Information</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
  <nav>
    <div class="nav-left">
      <a href="{{ url_for('home') }}">Home</a>
    </div>
    <div class="nav-right">
      {% if session.get('username') %}
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('information') }}">ℹ</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('information') }}">ℹ</a>
        <a href="{{ url_for('landing') }}">Login</a>
      {% endif %}
    </div>
  </nav>

  <h1 style="text-align: center;">Information</h1>
  <div class="info-container">
    <div class="info-box">
      Our project is a replica of <a href="https://www.geoguessr.com/"  style="color: #00b4ff; text-decoration: underline;">Geoguessr</a>
      that uses GoogleMaps StreetView panoramas.
      During each round the server picks a random StreetView coordinate and
      shows the panorama next to an interactive world map (depending on the region the user has selected).
      The player drops a marker on where they think the street is located and submits.
      The game then reveals the location, draws a distance line, and awards points based on the distance between the true location and the
      user's location. Our game has multiple regions (New York City, Europe, US, Oceania, Asia, World)
      and users will be able to decide between untimed and timed (0 seconds-600 seconds).
    </div>
  </div>
    <script>
  if (localStorage.getItem('dark-mode') === 'true') {
    document.body.classList.add('dark-mode');
  }
  </script>
</body>
</html>
